<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .message{
                color:blue;
                font-size:0.9rem;
                font-family: Arial;
            }
        </style>
    </head>
    <body>
       <h1 class='message'> Thank you for registering. We will contact you soon0.</h1>
    </body>
</html>